body{
    /* google font*/
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0%;
}

.site-name{
    /*all h1 text center এ করা*/
    text-align: center;
}
.different-heading-color{
    /*h3 sapn ভিতর এর text color*/
    color: green;
}

#top-heading{
    /*1st h1 এর left blue দাগ*/
    border-left: 5px solid blue;
}
.upper-part{
    /*No-1 কে পাশাপাশি করা*/
    display: flex;
    /* main page এর সব দিক থেকে 5% চাপানো*/
    margin: 5%;
}

.upper-part-details{    
    width: 50%;
    /*dane bame soman kora text line gula*/
    text-align: justify;
}
.anchor-button{
    /*normal buy text underline বাধ দেওয়া*/
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    /*text color*/
    color: white;
    /*button text bolt*/
    font-weight: 700;
    /*button আকার */
    padding: 10px 80px;
    border-radius: 10px;
}

.upper-image{
    /*নিজের border থেকে up+bottom(70px) and right+left(120px)চাপা*/
    padding: 70px 120px;
}

.shadow-part{
    /*৩টা এক লাইনে আনা*/
    display: flex;
}

.shadow-image{

    border-radius: 8px;
    /*নিজের border থেকে up+bottom, right+left(5px)চাপা*/
    padding: 5px;
    width: 250px;
    height: 150px;
}
.shadow{
    /* প্রতেক টার একটি থেকে অন্যটির এর সব দিক থেকে 20px চাপানো*/
    margin: 20px;
    /*shadow দেয়া*/
    box-shadow: 5px 5px 5px 5px;
    /*নিজের border থেকে 4% চাপানো*/
    padding: 4%;
    border-radius: 8px;
    width: 350px;
    height: 380px;
    /*dane bame soman kora text line gula*/
    text-align: justify;
}

footer{
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: 700;
    background-color: black;
    height: 200px;
    padding: 10px;
    
}